/* Color variables */
:root {
    --dark-blue: #0d192d;
    --main-blue: #3b4454;
    --medium-gray: #d8dadd;
    --light-gray: #f7f7f8;
}

/* Body */
body {
    font-family: 'Space Grotesk', sans-serif;
    color: var(--dark-blue);
}

/* Header */

nav {
    background-color: var(--light-gray);
    padding: 20px;
}

.nav-wrapper {
    width: 80%;
    max-width: 1280px;
    height: 48px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 48px;
}

nav a {
    background-color: var(--light-gray);
    padding: 12px 32px;
    color: var(--dark-blue);
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    border: 4px solid var(--main-blue);
    border-radius: 8px;
    transition: ease-in-out 200ms;
}

nav a:hover {
    background-color: var(--main-blue);
    color: white;
}

nav a:active {
    background-color: var(--dark-blue);
    border: 4px solid var(--dark-blue);
}

.hero {
    background-color: var(--medium-gray);   
    padding: 80px;
    border-bottom: 8px solid #3B4454;
}

